---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---

<!DOCTYPE html>
<html>
  <Header title="Santiago Rojas" />
  <body>
    <div class="content">
      <Sidebar selectedItem="home" />
      <nav class="main">
        <div class="container">
          <main class="fold-content-container">
            <div class="fold-content">
              <h1>Hi, I'm Santiago.<br />I am an university student.</h1>
              <p class="lead">
                DataBase student creating their first Portfolio.
              </p>
            </div>
            <a href="https://github.com/Srojas-ga" class="button w-button">Contact</a>
          </main>
          <div class="projects-section">
            <!-- Personal Info -->
            <a href="/software-development" class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container">
                  <img src="./assets/browser.svg" loading="lazy" alt="" class="projects-category-image" />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>Personal Info</h4>
              </div>
            </a>
            <!-- Evidence -->
            <a href="/personal-projects" class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container devops-img">
                  <img src="./assets/database.svg" loading="lazy" alt="" class="projects-category-image" />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>Evidence</h4>
              </div>
            </a>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>