---
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "About me",
    desc: [
      "Sixth semester student from Systems Engenieer",
      "Learning about DataBases and Oracle",
      "part of the Nexus Group"
    
    ],
    tech: []
  },
 
];
---

<!DOCTYPE html>
<html>
  <Header title="Personal Info | Santiago Rojas" />
  <body>
    <div class="content">
        <Sidebar selectedItem="software-development" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Personal Info</h1>
            <section class="items-container">
                <div class="resouce-items">

                  <!-- Video de YouTube -->
                  <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/TU_ID_DE_VIDEO"
                    title="YouTube video"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>

                  <!-- Foto desde el computador -->
                  <img
                    src="/assets/tu-foto.jpg"
                    alt="Personal photo"
                  />

                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>